<br>
<div id="comment-container">

  <p>Leave a comment of gratitude or condemnation.<p>
  <p>Or return <%= link_to "home", root_path %>.<p>
<br>
  <div class="field input-group margin-bottom-sm">
  <%= form_for @comment, url: user_post_comments_path(@post.user_id, @post.id) do |f| %>
    <%= f.text_field :content, class: "input-group" %>
    <br>
    <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
