<!-- @user.id == current.user.id
@user.posts.length == 0
 -->
Why not create a <%= link_to "post", new_user_post_path(@user.id) %>?

<br><br>

<h3>Or you can return to the <%= link_to "homepage", root_path %></h3>


This is where you can view and edit your profile.
