

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Playfair Display SC', serif;
}

.navbar-default {
  background-color: #35b794;
  border: solid 2px #000000;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #6759ff;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, {
  color: #FFFFFF;
  background-color: #71f2cf;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nac > li > a:focus {
  color: #6759ff;
  background-color: transparent;
  }

body {
background-color: #000000;
color: white;
}

.jumbotron {
  background-image: image-url('demonfun.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding: 300px 0 140px 0;
  margin-bottom:70px;
  height: 250px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

#new_user {
  margin: auto;
  width: 400px;
  max-width: 80%;
}

#post-form  {
  margin: auto;
  width: 400px;
  max-width: 80%;
}

#login-form  {
  margin: auto;
  width: 400px;
  max-width: 80%;
}
